bin/
obj/
.local/
.tools/
dist/
*.user
__pycache__/
*.pyc
GamePath.props
unity/Library/
unity/Temp/
unity/Logs/
unity/UserSettings/
unity/Assets/Editor/Lib/
unity/Assets/Example/
unity/Assets/TextMesh Pro/
unity/Assets/TextMesh Pro.meta
unity/Assets/Example.meta
unity/Assets/Editor/Lib.meta
